p {
    color: #333333;
    font-size: 16px;
}

body {
    background-color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    /* Sets the font size to 16px */
    font-weight: 300;
    /* Sets the font weight to 300 */
    line-height: 1.6;
    /* Sets the line-height to 1.6 * the font-size */
    color: #333333;
}

h1,h2,h3,h4 {
    line-height: 1.4;
}

h1 {
    font-size: 2.75em;
    font-weight: 700;
}

h2 {
    font-size: 2.25em;
    font-weight: 700;
}

h3 {
    font-size: 1.75em;
    font-weight: 400;
}

h4 {
    font-size: 1.35em;
    font-weight: 400;
}

img {
    width: 100%;
}

a {
    color: #333333;
    text-decoration: none;
    /* No underlining */
}

.button {
    display: inline-block;
    /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #FFD700;
    color: #333333;
    /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #FFD700;
    /* width of the border, type, color */
    transition: 0.2s opacity;
}

.button:hover {
    opacity: 0.8;
    /* Reduces the opacity of the button to 80% */
    text-decoration: none;
}

.button.contact {
    background-color: transparent;
    color: #524D42;
    border: 2px solid #524D42;
}

.button.contact:hover {
    background-color: #524D42;
    color: #ffffff;
}

.button.contact:active {
    background-color: #38342D;
    color: #ffffff;
}